{% extends 'base.html' %}

{% load static %}

{% block title %} post_detail {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>블로그 상세</h1>
            <span class="subheading">블로그 상세 입니다.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>{{ object.title }}</h2>
        <p>
            {% if object.get_previous %}
            <a href="{{ object.get_previous.get_absolute_url }}" title="View previous post">
                &laquo;- {{ object.get_previous }}
            </a>
            {% endif %}

            {% if object.get_next %}
            | <a href="{{ object.get_next.get_absolute_url }}" title="View next post">
            {{ object.get_next }} -&raquo;
        </a>
            {% endif %}
        </p>

        <p>{{ object.modify_dt|date:"j F Y" }}</p>
        <br>

        <div>
            {{ object.content|linebreaks }}
        </div>
        <br>
        <div>
            <b>TAGS</b> <i class="fas fa-tag"></i>
            {% load taggit_templatetags2_tags %}
            {% get_tags_for_object object as "tags" %}
            {% for tag in tags %}
            <a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}</a>
            {% endfor %}
            &emsp;
            <a href="{% url 'blog:tag_cloud' %}"><span class="btn btn-info btn-sm">TagCloud</span> </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block extra-script %}{% endblock %}